<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JSnippets</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
        <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
    <div class="container mt-4">
        <h1 class="mb-4">jSnippets <small class="text-muted">status reporting, simplified</small></h1>
        <p th:if="${greeting}" th:text="${greeting}" class="alert alert-info"></p>
        <p th:unless="${greeting}" class="alert alert-secondary">Welcome, guest! Please
            <a th:href="@{/login}" class="btn btn-link p-0">log in</a> or
            <a th:href="@{/register}" class="btn btn-link p-0">register an account</a>.
        </p>
        <div th:if="${username}" class="card mt-4">
            <div class="card-body">
                <div th:if="${recentSnippets != null and !recentSnippets.empty}" class="mt-4">
                    <h2 class="h5 mt-3">Your Recent Snippets</h2>
                    <ul>
                        <li th:if="${recentSnippets == null or recentSnippets.empty}">You have no recent snippets.</li>
                        <li th:each="snippet : ${recentSnippets}">
                            <a th:href="@{'/snippets/' + ${snippet.id}}" th:text="${#strings.length(snippet.contents) > 30 ? #strings.substring(snippet.contents, 0, 30) + '...' : snippet.contents}">Snippet content</a>
                            @ <span th:text="${#dates.format(snippet.editedAt, 'yyyy-MM-dd HH:mm')}">Creation/Last edit date/time</span>
                        </li>
                    </ul>
                </div>
                <h2 class="h5 mt-3">Actions</h2>
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <a th:href="@{/snippets/new}" class="btn btn-success mb-3">Create New Snippet</a></li>
                    <li class="list-group-item">
                        <a th:href="@{/snippets}" class="btn btn-primary mb-3" th:text="@{'View your snippets (' + ${snippetCount} + ')'}">View your snippets</a></li>
                    <li class="list-group-item">
                        <a th:href="@{/timeline}" class="btn btn-info mb-3">View Timeline</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/profile}" class="btn btn-primary mb-3">Profile Settings</a></li>
                </ul>

                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-danger">Log out</button>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>